body {
  margin: 0;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root {
	background-color: #776B5D;
	color: #EBE3D5;
	height: 100vh;
}
