body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Comic Sans'; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root {
	background-color: black;
	color: grey;
	height: 100vh;
}
